@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 980px;
    margin: 0px auto;
    text-align: center;
}
.myWeatherInput{
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
.myWeatherButton{
    width: 20%;
    background: none;
    padding: 20px;
    cursor: pointer;
    transition: background .3s;
    border: 1px solid rgb(0, 0, 0);
    font-size: 18px;
}
.myWeatherButton:hover{
    background-color: rgba(0, 255, 170, 0.458);
    border: 1px solid rgb(0, 0, 0);
}
.search__block{
    display: flex;
}
.weather-information{
    margin-top: 20px;
    font-size: 30px;
    text-align: left;
}
.find-weather__text{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}